/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root{
  --cor-do-texto: #333;
  --cor-do-fundo: #fff;
  --cor-do-gradiente-1: #f6f1b2;
  --cor-do-gradiente-2: #4599b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-do-texto: #eee;
    --cor-do-fundo: #000000;
    --cor-do-gradiente-1: #14437d;
    --cor-do-gradiente-2: #1a0e41;
  }
}

body {
  background-color: var(--cor-do-fundo);
  font-family: "Verdana";
}

strong {
  color: #d027aa;
}



#recipiente {
  background-image: linear-gradient(to bottom, var(--cor-do-gradiente-1), var(--cor-do-gradiente-2) 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
}

#cardapio h3 {
  margin-left: 20px;
  font-size: 18px;
  color: var(--cor-do-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-do-texto);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  /* layout da página aqui */
  
  width: 800px;
  margin-left: auto;
  margin-right:auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 154px 1fr;


}

#cabecalho-pagina {
  grid-row: 1/2;
  grid-column: 2/3;
  

}

#lateral {
  grid-row: 1/4;
  grid-column: 1/2;
}

#cardapio {
  grid-row: 2/3;
  grid-column: 2/3;

}

#rodape-pagina {
  grid-row: 3/4;
  grid-column: 2/3;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  padding: 10px;
}

#cabecalho-pagina h1 {
  font-family: "Ravie";
  text-align: center;
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
}

#cabecalho-pagina h2 {
  font-family: "Verdana", "OpenSans", sans-serif;
  text-align: right;
  margin: 0;
  font-size: 24px;
  color: var(--cor-do-texto);
  font-weight: normal;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  padding-left: 20px;
  padding-right: 20px;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: right;
  margin-right: 15px;
  margin-top: 46px;
  margin-bottom: 25px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -89px;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 27px;
  right: 10px;

}

#peixe {
  position: relative;
  right: 44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

